<!-- <form (ngSubmit) = "addUser()" #registerForm = "ngForm">
    <div class="form-grp">
        <label for="user-name">Username</label>
        <input type="text" name="user-name" id="user-name" placeholder="Enter your username"  ngModel required>
    </div>
    <div class="form-grp">
        <label for="user-email">Email</label>
        <input type="email" name="user-email" id="user-email" placeholder="Enter your email"  ngModel email required>
    </div>
    <div class="form-grp">
        <label for="user-password">Password</label>
        <input type="password" name="user-password" id="user-password" placeholder="Enter your password" ngModel required>
    </div>
    <button type="submit" [disabled] = "registerForm.invalid">Sign up!</button>
</form> -->

<Form [formGroup]="registerForm" (ngSubmit)="addUser()">
    <div class="form-grp">
        <label for="username">Username</label>
        <input type="text" formControlName="username" id="username" name="username" placeholder="Enter your username">
    </div>
    <div class="form-grp">
        <label for="userEmail">Email</label>
        <input type="email" formControlName="userEmail" id="userEmail" name="userEmail" placeholder="Enter your Email">
    </div>
    <div class="form-grp">
        <label for="userPassword">Password</label>
        <input type="password" formControlName="userPassword" id="userPassword" name="userPassword" placeholder="Enter your password">
    </div>
    <button type="submit" [disabled] = "registerForm.invalid">Sign up!</button>
</Form>